body{     
    font-family: Arial;
    color: white;
    background-color: black;
}
/* .img{
    margin-top: 7vh;
} */
.p{
    text-align: center;
    font-size: 38px;
}
.container_1 {
    border: solid whitesmoke 6px;
    height: 180px;
    position: relative;
    width: 225px;
}
.zoom {
  background-color: black;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
/* .back{
  background-image: url('<?php echo base_url() ?>assets/image/2.jpg');
  background-size: cover;
  opacity: 0.4;
} */